/*
 * Extra Hero (home)
 *
 * Template part used on the home template
 *
 * @package F1 Telos Tennis
 * @author Factor1 Studios
 * @since 0.5.0
 */

.extra-hero {
  position: relative;
  @include iPhoneX;
  text-shadow: 0 0 rem(15) #000;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
  }

  .container {
    padding: rem(25) 0 10%;
    z-index: 1;
  }

  .support {
    text-shadow: 0 0 rem(15) #000;
  }

  &__top-text {
    position: absolute;
    top: 5%;
    left: 3%;
    text-shadow: 0 0 rem(5) #656565c9;
    z-index: 3;

    h3 {
      color: $white;
    }
  }

  iframe {
    max-width: 100%;
  }

  h1 {
    text-transform: uppercase;
    font-family: $gilroyBold;
    font-size: rem(65);
    letter-spacing: rem(10);
    margin-bottom: rem(40);
    text-shadow: 0 0 rem(15) #000;
  }

  h6 {
    text-transform: unset;
  }

  .buttons {
    margin: rem(30) 0 0;
    .button {
      margin-bottom: rem(10);
    }
  }

}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .extra-hero .container {
    padding: rem(50) 0;
  }
}

