/*
 * Highlight Grid (home)
 *
 * Template part used on the home template
 *
 * @package F1 Telos Tennis
 * @author Factor1 Studios
 * @since 0.5.0
 */

.highlight-grid {
  @include iPhoneX;

  .container {
    padding: rem(70) 0 rem(90);
  }

  .col-2, .col-4, .col-6 {
    margin: 0 auto rem(80);
  }

  hr {
    width: 100%;
    margin: rem(25) 0 rem(50);
    border-bottom: solid rem(1) $nickel;
    border-top: none;
    max-width: rem(1000);

    &:last-of-type {
      display: none;
    }
  }

  

  &__single {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    max-width: rem(240);
    margin: 0 auto;
    
    .highlight-content {

      .single-image {
        width: 100%;
        min-height: rem(160);
        margin-bottom: rem(20);
      }
    }

    .button {
      font-family: $gilroyLight;
      margin: 0 auto;
      padding: rem(10) rem(15);
      border-radius: rem(5);
    }

  }

}

// Media Queries
@media screen and (min-width: $medium-breakpoint) {
  .col-2 {
    flex-basis: 18%;
  }
}

@media screen and (max-width: $medium-breakpoint) {
  .highlight-grid hr {
    display: none;
  }
  .highlight-grid__single .highlight-image {
    min-height: rem(220);
  }

  .highlight-grid .sm-col-12 {
    margin-bottom: rem(50);
  }
}

@media screen and (max-width: $small-breakpoint) {
  .highlight-grid__single .highlight-image {
    min-height: rem(320);
  }
}