/*
 * 50/50 Split (global)
 *
 * Template part used on various templates/views
 *
 * @package F1 Telos Tennis
 * @author Factor1 Studios
 * @since 0.4.0
 */

.fifty-split {
  @include iPhoneX;

  .container {
    padding: rem(50) 0;
  }

  .col-6 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(50);

    > div {
      flex: 0 1 100%;
    }
  }

  .button {
    align-self: flex-end;
    margin-top: rem(20);
  }

  &.full-width {
    .container {
      padding: 0;
    }
  }

  .row--full-width {
    .col-6 {
      padding: rem(50);
      margin-bottom: rem(0);
    }
  }

}
